.square-box {
    background-color: #eef1f4;
    border-radius: 10px;
    padding: 80px;
    margin-bottom: 20px;
  }
  
  .square-box h3 {
    text-align: center;
  }
  
  .square-box .data {
    font-size: 84px;
    font-weight: bold;
    text-align: center;
  }
  